html {

   overflow-x: hidden;

}

body{
  width: 100%;
  /* height: 100vh; */
  color: #fff;
  background: linear-gradient(-45deg,#122754,#9fabc4,#041029,#01091a,black);
  background-size: 400% 400%;
  position: relative;
  animation: change 30s ease-in-out infinite;
  overflow-x: hidden;
  overflow-y: auto;


}

audio {
  width: 100px;
  display: block;
  margin:20px;
  z-index: auto;

}

@font-face {
   font-family: Whitelies;
   src: url(WhiteLies-q9m0.otf);
}

* {
   font-family: Whitelies;
}

@media screen and (max-width: 480px) {
  div {
    line-height: 200%;
    overflow-x: hidden;
    overflow-y: auto;
    background-size: 400% 400%;
  }
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.box {
  height: 1000px;
}

.sentence1 {
  font-family: Whitelies;
  color: #fac105
  top: 820px;
  z-index: -1;
  animation-duration: 39s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow: 0 0 25px pink, 0 0 5px pink;


}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: -110%;
    width: 100%;
  }
}

.sentence2 {
  font-family: Whitelies;
  font-size: 50px;
  color: #65c27a;
  top: 840px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 25s;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence3 {
  font-family: Whitelies;
  color: #fac105
  top: 860px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 13s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence4 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 800px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 5s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence4a {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 880px;
  z-index: -2;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence4b {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 780px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 55s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence5 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 900px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence6 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 920px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence6a {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 960px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence7 {
  font-family: Whitelies;
  color: #cfa602;
  top: 980px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 28s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;


}

.sentence7a {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: 1000px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence7b {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 1000px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 35s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence8 {
  font-family: Whitelies;
  color: #fac105
  top: 620px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence8a {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: -1px;
  position: absolute;
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence9 {
  font-family: Whitelies;
  color: #fac105
  top: -2px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 19s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence10 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: -3px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 5s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence11 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 788px;
  z-index: -2;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence12 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 900px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 10s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence13 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: -4px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 21s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence14 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 665px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence15 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 630px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence16 {
  font-family: Whitelies;
  color: #fac105
  top: 320px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 22s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence17 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 580px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 36s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence18 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 100px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence19 {
  font-family: Whitelies;
  color: #fac105
  top: 390px;
  z-index: -1;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence20 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 420px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 12s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence21 {
  font-family: Whitelies;
  color: #fac105
  top: 230px;
  z-index: -1;
  position: absolute;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence22 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 240px;
  z-index: -3;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 2s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence23 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 250px;
  z-index: -2;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence24 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 580px;
  position: absolute;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 50s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence25 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 210px;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 37s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence26 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 220px;
  position: absolute;
  animation-duration: 35s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 24s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence27 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 245px;
  position: absolute;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 26s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence28 {
  font-family: Whitelies;
  color: #cfa602;
  top: 290px;
  z-index: -1;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence29 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 250px;
  position: absolute;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence30 {
  font-family: Whitelies;
  font-size: 30px;
  color: #f5ee8e;
  top: 266px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence31 {
  font-family: Whitelies;
  color: #aef2ef;
  top: 290px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence32 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 300px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 65s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence33 {
  font-family: Whitelies;
  color: #fac105
  top: 330px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 14s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence34 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 340px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 5s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence35 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 360px;
  z-index: -2;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence36 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 138px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 16s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence37 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 500px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 27s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence38 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 165px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence39 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 428px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence40 {
  font-family: Whitelies;
  color: #cfa602;
  top: 421px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 28s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence41 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 286px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;



}



.sentence42 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 390px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence43 {
  font-family: Whitelies;
  color: #fac105
  top: 850px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence44 {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: 438px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 9s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}


.sentence44a {
  font-family: Whitelies;
  font-size: 20px;
  color: #f6dbff;
  top: 58px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 60s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence45 {
  font-family: Whitelies;
  color: #fac105
  top: 68px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 18s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence46 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 500px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 6s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence47 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 87px;
  z-index: -2;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  animation-delay: 28s;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence48 {
  font-family: Whitelies;
  font-size: 40px;
  color: #65c27a;
  top: 20px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 21s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence49 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 56px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 31s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence50 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 65px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 46s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence51 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 85px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 17s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence52 {
  font-family: Whitelies;
  color: #fac105
  top: 198px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 25s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence53 {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: 83px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 37s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence54 {
  font-family: Whitelies;
  font-size: 30px;
  color: #f5ee8e;
  top: 90px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 44s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence55 {
  font-family: Whitelies;
  color: #fac105
  top: 225px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence56 {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: 330px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 8s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence57 {
  font-family: Whitelies;
  color: #fac105
  top: 460px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 11s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence58 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 120px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 13s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence59 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 188px;
  z-index: -2;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence60 {
  font-family: Whitelies;
  font-size: 40px;
  color: #65c27a;
  top: 329px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 16s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence61 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 450px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 23s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence62 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 665px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 43s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence63 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 285px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 18s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence64 {
  font-family: Whitelies;
  color: #cfa602;
  top: 122px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 28s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence65 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 540px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 39s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence66 {
  font-family: Whitelies;
  font-size: 30px;
  color: #f5ee8e;
  top: 190px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 50s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence67 {
  font-family: Whitelies;
  color: #fac105
  top: 190px;
  z-index: -1;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  animation-delay: 3s;
  text-shadow: , 0 0 25px pink, 0 0 5px pink;


}

.sentence68 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 200px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 12s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence69 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 495px;
  z-index: -3;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 10s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence70 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 490px;
  z-index: -3;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 2s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence71 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 568px;
  z-index: -2;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  animation-delay: 55s;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence72 {
  font-family: Whitelies;
  font-size: 30px;
  color: #fcae26;
  top: 440px;
  position: absolute;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 52s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence73 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 460px;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 59s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence74 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 473px;
  position: absolute;
  animation-duration: 35s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 27s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence75 {
  font-family: Whitelies;
  font-size: 25px;
  color: #f5ee8e;
  top: 495px;
  position: absolute;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 29s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence76 {
  font-family: Whitelies;
  color: #fac105
  top: 540px;
  z-index: -1;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 17s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence77 {
  font-family: Whitelies;
  color: #fac105
  top: 540px;
  z-index: -1;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 60s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}
.sentence78 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 568px;
  position: absolute;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 59s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence79 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 510px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 52s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence80 {
  font-family: Whitelies;
  color: #fac105
  top: 540px;
  z-index: -1;
  animation-duration: 42s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence81 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 550px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 63s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence82 {
  font-family: Whitelies;
  color: #fac105
  top: 580px;
  z-index: -1;
  position: absolute;
  animation-duration: 44s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 17s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence83 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 590px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 1s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence84 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 430px;
  z-index: -2;
  animation-duration: 45s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence85 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 370px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 19s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence86 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 400px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 31s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence87 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 415px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 52s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence88 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 435px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence89 {
  font-family: Whitelies;
  color: #fac105
  top: 370px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 22s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence90 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 410px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 68s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence91 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 440px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 46s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;

}

.sentence92 {
  font-family: Whitelies;
  color: #fac105
  top: 430px;
  z-index: -1;
  animation-duration: 46s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow: 0 0 25px pink, 0 0 5px pink;


}


.sentence93 {
  font-family: Whitelies;
  font-size: 50px;
  color: #65c27a;
  top: 440px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 25s;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence94 {
  font-family: Whitelies;
  color: #fac105
  top: 477px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 23s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence95 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 480px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 5s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence96 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 490px;
  z-index: -2;
  animation-duration: 48s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence97 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 430px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 58s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence98 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 460px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence99 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 475px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 23s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence100 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 495px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 14s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence101 {
  font-family: Whitelies;
  color: #cfa602;
  top: 530px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 26s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;


}

.sentence102 {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: 490px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence103 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 523px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 32s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence104 {
  font-family: Whitelies;
  color: #fac105
  top: 530px;
  z-index: -1;
  animation-duration: 49s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence105 {
  font-family: Whitelies;
  font-size: 50px;
  color: #f6dbff;
  top: 540px;
  position: absolute;
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 58s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence106 {
  font-family: Whitelies;
  color: #fac105
  top: 570px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 16s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence107 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 580px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 5s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence108 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 590px;
  z-index: -2;
  animation-duration: 41s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence109 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 530px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence110 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 560px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 29s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence111 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 575px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence112 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 595px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence113 {
  font-family: Whitelies;
  color: #fac105
  top: 530px;
  z-index: -1;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 27s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence114 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 590px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 33s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence115 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 600px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence116 {
  font-family: Whitelies;
  color: #fac105
  top: 600px;
  z-index: -1;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence117 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 610px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 12s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence118 {
  font-family: Whitelies;
  color: #fac105
  top: 640px;
  z-index: -1;
  position: absolute;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence119 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 240px;
  z-index: -3;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 2s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence120 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 660px;
  z-index: -2;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence121 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 600px;
  position: absolute;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 50s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence122 {
  font-family: Whitelies;
  font-size: 10px;
  color: #aef2ef;
  top: 623px;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 34s;
  animation-fill-mode: both;
    text-shadow: 0 0 25px pink, 0 0 5px pink;



}

.sentence123 {
  font-family: Whitelies;
  font-size: 10px;
  color: #f5ee8e;
  top: 630px;
  position: absolute;
  animation-duration: 35s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 34s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence124 {
  font-family: Whitelies;
  font-size: 25px;
  color: #fcae26;
  top: 665px;
  position: absolute;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 20s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence125 {
  font-family: Whitelies;
  color: #cfa602;
  top: 700px;
  z-index: -1;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 15s;
  position: absolute;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence126 {
  font-family: Whitelies;
  font-size: 40px;
  color: #f5ee8e;
  top: 660px;
  position: absolute;
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence127 {
  font-family: Whitelies;
  font-size: 30px;
  color: #f5ee8e;
  top: 670px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 40s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence128 {
  font-family: Whitelies;
  color: #aef2ef;
  top: 700px;
  z-index: -1;
  animation-duration: 45s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence129 {
  font-family: Whitelies;
  font-size: 40px;
  color: #aef2ef;
  top: 710px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  animation-fill-mode: both;
  text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence130 {
  font-family: Whitelies;
  color: #fac105
  top: 740px;
  z-index: -1;
  position: absolute;
  animation-duration: 40s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 9s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence131 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 750px;
  z-index: -2;
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation delay: 5s;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}

.sentence132 {
  font-family: Whitelies;
  font-size: 15px;
  color: #059efc;
  top: 590px;
  z-index: -2;
  animation-duration: 46s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
    text-shadow:  0 0 25px white, 0 0 5px white;


}



.sentence133 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 530px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 7s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}

.sentence134 {
  font-family: Whitelies;
  font-size: 30px;
  color: #65c27a;
  top: 530px;
  position: absolute;
  animation-duration: 50s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 7s;
  animation-fill-mode: both;
    text-shadow:  0 0 25px white, 0 0 5px white;



}
