/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
body {
	background-color: #111;
}
 @font-face {
   font-family: Whitelies;
   src: url(WhiteLies-q9m0.otf);
}

* {
   font-family: Whitelies;
}
.title {
	font-family: WhiteLies;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

a {

	font-size: 120px;
  font-family: Whitelies;
	line-height: .75;
	margin: 10px 0;
	color: #51ad56;
	text-shadow:  0 0 25px white, 0 0 5px white;
}

a:link {
    text-decoration: none;
    color: #51ad56;
}

a:visited {
    text-decoration: none;
    color: #51ad56;
}

a:hover {
    text-decoration: none;
    color: #c7c4b5;
}

a:active {
    text-decoration: none;
}

h2 {

	font-size: 40px;
  font-family: Whitelies;
	line-height: .75;
	margin: 10px 0;
	color: #51ad56;
	text-shadow:  0 0 25px white, 0 0 5px white;
}
