body {
  background-image: url("../brighton/wallpaper.jpeg");
  height: 1000%;

 /* Center and scale the image nicely */
 background-repeat: no-repeat;
 background-size: cover;

}



img {
  max-width: 2000px;
  max
}

h1 {
  color: white;
  font-family:'Archivo Black', sans-serif;;
  font-size: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #edeca4;
}

a:active {
    text-decoration: none;
}

a {
    color: white;
    font-family:'Archivo Black', sans-serif;;
    font-size: 30px;
  	text-align: center;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	letter-spacing: 1px;
}

a, button {
  padding: 20px;
}
