body {
  background-color: #faf9d2;
}

.content {
  flex-direction: column;
  column-count: 2;
  margin: 100px;
  column-gap: 40px;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 600px;
  max-height: 600px;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #14afe3;
}

a:active {
    text-decoration: none;
}
}

a, button {
  padding: 20px;
}
